<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            /* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

        .subtab button {
            background-color: #ddd;
            padding: 10px 12px;
            font-size: 12px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        .subtab button.active {
            background-color: #808080;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
        }

        /* Fade in tabs */
        @-webkit-keyframes fadeEffect {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fadeEffect {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .alert {
            padding: 20px;
            background-color: #f1f1f1;
            color: white;
        }

        .closebtn {
            margin-right: 15px;
            color: white;
            font-weight: bold;
            float: left;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/GET_POST.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/GET_POST.js"></script>

    <div class="tab maintab">
        <button class="tablinks maintab" onclick="openTab(event, 'maintab', 'Address')">Settings</button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab', 'Contract')">Contract</button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab', 'UM')">User Management</button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab','Query')">Query Details</button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab','User')"><i>UserTab</i></button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab','Repo')"><i>Repository</i></button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab','Info')">Info/How-To </button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab','Debug')">Debug </button>
        <br /><br />
        <div class="alert">
            <span class="closebtn" onclick="closeAlert();">&times;</span>
            <span id='alertText'></span>
        </div>
    </div>

    <div id="Debug" class="tabcontent maintab">
        <button class="keys" onclick="debug(1)">Show Test Accounts</button>
        <span id="resDebug"></span>

    </div>

    <div id="Address" class="tabcontent maintab">
        Provide the account address and RefCode to use for your interactions (in hex) with this contract<br />
        This is needed for all types: Owner, User, and Repository<br /><br />
        Account address:<input type="text" id="aAddr" value="" size="60"><br />
        Reference code: <input type="text" id="aRef" size="20">
    </div>

    <div id="Contract" class="tabcontent maintab">
        <div class="tab subtab deployTab">
            <button class="tablinks deployTab" onclick="openTab(event, 'deployTab', 'deploy')">Deploy new contract</button>
            <button class="tablinks deployTab" onclick="openTab(event, 'deployTab', 'init')">Init contract</button>
            <button class="tablinks deployTab" onclick="openTab(event, 'deployTab', 'release')">Enable release</button>
            <button class="tablinks deployTab" onclick="openTab(event, 'deployTab', 'reset')">Reset contract</button>
        </div>
        <div id="deploy" class="tabcontent deployTab">
            Provide the reference Code (in hex) for this contract, which is the code used to monitor the release event:<br /><br />
            Reference Code:<input type="text" id="rRef" value="" size="60"><br />
            <button class="keys" onclick="deploy($('#rRef').val())">Deploy Contract</button><br />
            <i>The setting page will be automatically updated with this refCode once succesfull</i>
            <span id="resDeploy"></span>
        </div>
        <div id="init" class="tabcontent deployTab">
            Provide the parameters for the deployed contract (italic not hex)<br /><br />
            <table>
                <tr><td><i>Fee:</i> </td><td><input type="text" id="ifee" value="" size="20"></td></tr>
                <tr><td>Min Release: </td><td><input type="text" id="iquor" value="" size="5"></td></tr>
                <tr><td>Address fee recipient: </td><td><input type="text" id="irec" value="" size="60"></td></tr>
                <tr><td>Document Hash: </td><td><input type="text" id="ihash" value="" size="60"></td></tr>
            </table>
            <button class="keys" onclick="setCriteria()">Set Criteria</button><br />
            <span id="resCrit"></span>
        </div>
        <div id="release" class="tabcontent deployTab">
            <button class="tablinks deployTab" onclick="enable()">Activate Release</button>
            Note that this is a one-way, the contract cannot be reset anymore after this.
        </div>
        <div id="reset" class="tabcontent deployTab">
            <button class="tablinks deployTab" onclick="reset()">Reset contract to empty state</button>
            Note that this will require setting all parameters and registering users again, as if the contract
            was just deployed.
        </div>
    </div>


    <div id="UM" class="tabcontent maintab">
        <div class="tab subtab umTab">
            <button class="tablinks umTab" onclick="openTab(event, 'umTab', 'umReg')">Register User</button>
            <button class="tablinks umTab" onclick="openTab(event, 'umTab', 'umBlock')">Block User</button>
        </div>
        <div id="umReg" class="tabcontent umTab">
            Please provide the account address of the user you want to <b>register</b> newly<br /><br />
            Account address:<input type="text" id="umrAddr" value="" size="60"><br />
            <button class="keys" onclick="register($('#umrAddr').val())">Register User</button>
        </div>
        <div id="umBlock" class="tabcontent umTab">
            Please provide the account address of the user you want to <b>block</b>.<br />
            <i>Note that unblocking is <u>not possible</u> (unless you reset the entire contract).</i><br /><br />
            Account address:<input type="text" id="umrAddr" value="" size="60"><br />
            <button class="keys" onclick="block($('#umrAddr').val())">Block User</button>
        </div>
    </div>

    <div id="Repo" class="tabcontent maintab">
        <div class="tab subtab repoTab">
            <button class="tablinks repoTab" onclick="openTab(event, 'repoTab', 'mon')">{Register event monitor}</button>
            <button class="tablinks repoTab" onclick="openTab(event, 'deployTab', 'man')">Manual release</button>
            <button class="tablinks repoTab" onclick="openTab(event, 'deployTab', 'demon')">{De-Register event monitor}</button>
        </div>
        <div id="mon" class="tabcontent repoTab">
            {I was not bale to get any event watching working with python, use manual process}
        </div>
        <div id="man" class="tabcontent repoTab">
            Please provide the repository key.<br /><br />
            Fee:<input type="text" id="repKey" value="" size="60"><br />
            <button class="keys" onclick="releaseKey($('#repKey').val())">Release Key</button>
        </div>
        <div id="demon" class="tabcontent repoTab">
            {I was not bale to get any event watching working with python, use manual process}
        </div>
    </div>

    <div id="User" class="tabcontent maintab">
        Please provide the fee to pay.<br />
        <i>If not sure about minimum release fee, go to Query and check.</i><br /><br />
        Fee:<input type="text" id="uFee" value="" size="60"><br />
        <button class="keys" onclick="release($('#uFee').val())">Release Request</button>
    </div>


    <div id="Query" class="tabcontent maintab">
        <div class="tab subtab qTab">
            <button class="tablinks qTab" onclick="JavaScript:query('fee')">Release Fee</button>
            <button class="tablinks qTab" onclick="JavaScript:query('hash')">Document Hash</button>
            <button class="tablinks qTab" onclick="JavaScript:query('refCode')">Reference Code</button>
            <button class="tablinks qTab" onclick="JavaScript:query('numUser')">No. registered Users</button>
            <button class="tablinks qTab" onclick="JavaScript:query('nofm')">Missing registrations</button>
            <button class="tablinks qTab" onclick="JavaScript:query('misRel')">Missing Releases</button>
            <button class="tablinks qTab" onclick="JavaScript:query('enabled')">Releasing Enabled?</button>
            <button class="tablinks qTab" onclick="JavaScript:query('key')">ReleasedKey</button>
        </div>

    </div>

    <div id="Info" class="tabcontent maintab">
        <h3>Protected Document Repository (individual project for blockchain course 2018)</h3>
        <hr />
        <p>
            This interface allows <b>owners</b> of a contract to deploy and manage contracts. <br />
            It allows registered <b>Users</b> to interact with the contract via <i>UserTab</i>, and to set the refCode
            of contract via 'Contract -> Use RefCode' tab<br />
            It allows the document reporsitry manager to register and/or manually react to events.
        </p>
        <hr />
        <p>
            This protected document repository allows a document owner to register a secure and confidential link reference
            within a smart contract. Once deployed, the owner can define a list of registered users, as well as how many of them are
            required to submit (payable) release requests before the document's secrect (and link) become known to them.<br />
            The confidentiality is given through the separation of the secret and the document. The owner provides through
            a secured channel the random key to all registered users. In parallel, the owner submits a respective release key
            as well as the encrypyted document to the trusted repository. Only when enough registered users request for release
            will the repository release its key (and if IPFS or anything else used, the location URL) to the blockchain; in
            case the document is released, the URL will provide instructions how the registered users can access the document.<br />
            Why is it secure (ok, reasonably secure, assuming the trusted repository remains trusted)?<br />
            <ul>
                <li>
                    The registered users have no access to the document unless enough of the have made their request release publicly
                    known on the blockchain.
                </li>
                <li>The document is encrypted, so the trusted repository alone cannot decrypt the document</li>
                <li>Only the combination o fthe two keys allow the decryption of the document</li>
                <li>
                    The key is secure, because it is one time pad (ok, you must be sure your random numbers are up to it),
                    and the registered users need the release key to create the actual decryption key
                </li>
                <li>
                    So the registered users cannot collude among themselves, and the trusted repository cannot access the document;
                    the only way to break this is that one of the registered users colludes with the trusted repository.
                    However, in such cases, whatever the consequences of such collusion can be disputed, because the other
                    registered users can proove via the blockchain that no official release was made
                </li>
                <li>
                    The blockchain only stores the hash of the unencrypted document, so finding the encrypted document
                    through attacking the repository is not possible (it is of course up to the trusted repository to sepeate the
                    reference Code and the documents, because the reference code is available form the blockchain)
                </li>
            </ul>
            This of course doe snot solve every security scenario, but it is useful in cases like writing a will, which
            is not supposed to be shared among the benefiting relatives. How so?
            <ul>
                <li>The owner encrypts the will and registers the set of benefitting users in the contract</li>
                <li>
                    If the users try to release the contract before the person passed away, there is collusion evidence
                    and the owner can dispute (to make it more relevant/effective, timed release could be implemented to improve the
                    contract, e.g. release requests must be sperated by a few days, and release of document by a month etc. such that even in case
                    of attempted collusion the still alive owner has means to react)
                </li>
                <li>
                    If some registered users doubt the legitimate timing of the release, they can refrain from submitting their
                    release request as well
                </li>
                <li>As there is a n-of-m setting, the owner can prevent a denial of release by a few registered users</li>
            </ul>
            So the process is as follows (at any time the <b>query tab</b> can be used to query information:<br />
            <ul>
                <li>
                    Use the <b>deploy</b> tab to deploy the contract on the blockchain. To deploy the contract a reference code has
                    to be provided, which the trusted repository will monitor as event signal for legitimate release
                </li>
                <li>
                    Use the <b>initialise</b> tab to set the four parameters:
                    <ul>
                        <li>
                            fee: The fee every registered user must pay for a release request. All the paid fees will in th eend be
                            sent as service fee to the trusted repository
                        </li>
                        <li>
                            n-of-m: How many (n) of the registered users are needed to trigger the release by the trusted repository.
                            The m is given implicitly by the number of registered users, registered by the owner
                        </li>
                        <li>The account o fthe trusted repository to which the final total collected fee is to be paid</li>
                        <li>the hash of the unencrypted document</li>
                    </ul>
                </li>
                <li>
                    Use the <b>register</b> tab to register up to 10 registered users (for cases other than a will the owner
                    may also register an address controlled by the owner and be part of th erelease process)
                </li>
                <li>
                    Use the <b>enable</b> tab to allow release requests. This stops registered users from immediately
                    submitting release requests during the setting up phase
                </li>
                <li>
                    Use the <b>reset</b> tab to reset the contract to empty. This ois only possible up to enabling the release
                    After a reset, the process starts with an empty regoistered user list and the parameters for fees etc.
                    must be set anew
                </li>
                <li>
                    Use the <b>block</b> tab to block registered users from being allowed to submit release requests. This
                    will only block them, not remove them from the list. It is assumed that such is a rare case, and the owner
                    must be carefull not to block too many such that the release n-of-m cannot be reached anymore. However, it allows
                    the owner to document the subsequent removakl of permission and even blocking of document release where
                    such is useful; this is different from resettoing the contract, because then the contract does not contain the
                    data anymore (sure, without this it could still be possible to scan all transactions on the blockchain and
                    see which addresses where registered before reset, but blocking and making it dircetly visible from the
                    contract is more efficient and obvious)
                </li>
            </ul>
        </p>
    </div>


    <script>

        function getAddrRef() {
            var ret = $("#aAddr").val() + "/" + $("#aRef").val()
            return ret;
        }

        function debug(code) {
            var repl = doGETSynch("debug/" + code);
            var json = repl[0];
            var code = repl[1];
            if (code == 200) {
                var resp = ""
                for (key in json) {
                    resp = resp + json[key] + "<br />"
                }
                rs = resp.split(",")
                rsx = "<br />"
                for (var i = 0; i < rs.length; i++) {
                    rsx = rsx + "<b>" + i + "</b> :" + rs[i] + "<br />"
                }
                document.getElementById("resDebug").innerHTML = rsx;
            } else {
                doAlert("Query for " + type + " failed", 0);
            }
        }

        function setCriteria() {
            data = {
                "fee": $("#ifee").val(),
                "quorum": $("#iquor").val(),
                "feeDest": $("#irec").val(),
                "hash": $("#ihash").val(),
                "owner": $("#aAddr").val()
            };
            var repl = doPOSTSynch("criteria/" + getAddrRef(), null, data);
            var json = repl[0];
            var code = repl[1];
            if (code == 200) {
                doAlert(JSON.stringify(json), 9);
                document.getElementById("resCrit").innerHTML = "Tx hash:"+json['TXHash'];
            } else {
                doAlert("Set criteria failed: " + JSON.stringify(json), 0);
            }
        }

        function deploy(refCode) {
            var repl = doGETSynch("deploy/" + $("#aAddr").val() + "/" + refCode);
            var json = repl[0];
            var code = repl[1];
            if (code == 200) {
                var resp = "</br>"
                for (key in json) {
                    resp = resp + "<b>" + key + "</b>: " + json[key] + "<br />"
                }
                document.getElementById("resDeploy").innerHTML = resp;
                document.getElementById("aRef").value = refCode;
            } else {
                doAlert("Deploy failed, " + JSON.stringify(json), 0);
            }
        }

        function release(fee) {
            var repl = doGETSynch("release/" + getAddrRef() + "/" + fee);
            var json = repl[0];
            var code = repl[1];
            if (code == 200) {
                var resp = "</br>"
                for (key in json) {
                    resp = resp + "<b>" + key + "</b>: " + json[key] + "<br />"
                }
                doAlert("Your release request was successful")
            } else {
                doAlert("Release request failed, " + JSON.stringify(json), 0);
            }
        }

        function releaseKey(key) {
            var repl = doGETSynch("key/" + getAddrRef() + "/" + key);
            var json = repl[0];
            var code = repl[1];
            if (code == 200) {
                doAlert("Your release request was successful, can query key")
            } else {
                doAlert("Release request failed, " + JSON.stringify(json), 0);
            }
        }

        function query(type) {
            var repl = doGETSynch("query/" + $("#aRef").val() + "/" + type);
            var json = repl[0];
            var code = repl[1];
            if (code == 200) {
                doAlert(JSON.stringify(json), 9);
            } else {
                doAlert("Query for " + type + " failed, " + JSON.stringify(json), 0);
            }
        }

        function enable() {
            var repl = doGETSynch("enable/" + getAddrRef());
            var json = repl[0];
            var code = repl[1];
            if (code == 200) {
                doAlert(JSON.stringify(json), 9);
            } else {
                doAlert("Contract enable for release failed: " + JSON.stringify(json), 0);
            }
        }

        function reset() {
            var repl = doGETSynch("reset/" + getAddrRef());
            var json = repl[0];
            var code = repl[1];
            if (code == 200) {
                doAlert(JSON.stringify(json), 9);
            } else {
                doAlert("Contract reset failed: " + JSON.stringify(json), 0);
            }
        }

        function register(user) {
            var repl = doGETSynch("register/" + getAddrRef() + "/" + user);
            var json = repl[0];
            var code = repl[1];
            if (code == 200) {
                doAlert(JSON.stringify(json), 9);
            } else {
                doAlert("User register failed: " + JSON.stringify(json), 0);
            }
        }

        function block(user) {
            var repl = doGETSynch("block/" + getAddrRef() + "/" + user);
            var json = repl[0];
            var code = repl[1];
            if (code == 200) {
                doAlert(JSON.stringify(json), 9);
            } else {
                doAlert("Block user register failed: " + JSON.stringify(json), 0);
            }
        }


        /*
        * State Management
        */
        $(".alert").css("display", "none");
        initState();


        function toClipBoard(id) {
            var text = $("#" + id).val()
            if (text != null) {
                var dummy = document.createElement("input");
                document.body.appendChild(dummy);
                dummy.setAttribute('value', text);
                dummy.select();
                document.execCommand("copy");
                document.body.removeChild(dummy);
                doAlert("Copied text to clipboard: '" + text + "' len=" + text.length, 10);
            } else {
                doAlert("No selection for copying...", 0);
            }
        }

        function doAlert(message, level) {
            var tim = 6000;
            if (level == 0) {
                $(".alert").css("background-color", "red");
            } else if (level == 1) {
                $(".alert").css("background-color", "orange");
                tim = 3000;
            } else if (level == 8) {
                $(".alert").css("background-color", "green");
                tim = 4000;
            } else if (level == 9) {
                $(".alert").css("background-color", "green");
                tim = 2000;
            } else {
                $(".alert").css("background-color", "grey");
                tim = 2000;
            }
            $("#alertText").html("  " + message);
            $(".alert").css("display", "block");
            setTimeout(function () {
                closeAlert();
            }, tim);
        }

        function closeAlert() {
            $(".alert").css("display", "none");
            $(".alert").css("background-color", "white");
        }

        function initState() {
            openTab(null, 'maintab', 'Info')
        }



        /*
        * Tab Manager
        */
        function openTab(evt, tabs, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent " + tabs);
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks " + tabs);
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            if (evt != null) {
                evt.currentTarget.className += " active";
            }

        }
    </script>

</body>
</html>
